__pycache__/
*.pyc
*.sqlite3
/media/
/staticfiles/
.venv/
env/
venv/
*.log
.DS_Store
.idea/
.vscode/
node_modules/
*.env
.env
radio_env/
migrations/
/migrations/
*.pot
*.mo
celerybeat-schedule
instance/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
dist/
build/
*.egg-info/
pip-wheel-metadata/
